@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    tFX Tool<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +23480 9097 9807
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tobainocycle@gmail.com">Support</a><br />
    <strong>Info:</strong> <a href="mailto:tobainocycle@yahoo.com.com">Info</a>
</address>