@{
                /**/

                ViewBag.Title = "About";
}
<li>
    @Html.Action("Go back to tFX Home", "DetailsAll", "TfxtoolsController" )
</li>
<br />
<p class="lead" align="justify">
    tFX tool is a free resource that aids individuals in Forex trading. It curates & gives real time feeds on sentiments / fundamental analysis,
    signals from relevant & certified FX experts. It houses an equity table, calculator, standardized formula that can be used for buying & selling in the market.
</p>
<p align="justify">
    tFX Tool is a product of a research work  <strong style="color:red">Adoption of tFX Theory and Web technology as a decisive tool for Risk aversion in Currency Market"</strong>
    conducted by <strong style="color:blueviolet">OYEKAN A. OLUWATOBI</strong> It was presented at the 2019 National Polytechnic Engineering Students (NAPES) Seminar, Yaba
    College of Technology, Lagos Nigeria.
</p>
<p>OYEKAN A. OLUWATOBI is a Software Engineer, Facilitator, Researcher and an aspiring Business intelligence analyst  </p>

<p>Google: Oyekan Oluwatobi</p>
<p>
    <a href="https://twitter.com/tobainocycle?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow tobainocycle</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>