@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<address>
    tFX Tool<br />
    Lagos, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +23480 3643 1907
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tobainocycle@gmail.com">Send in your Suggestions</a><br />
    <strong>Info:</strong> <a href="mailto:tobainocycle@yahoo.com.com">Request for more details</a>
</address>