@model tFX_tool.Models.User

@{
                /**/

                ViewBag.Title = "SuccessSaveRegistrationDetails";
}

<h2>SuccessSaveRegistrationDetails</h2>
<h3 style="color:palevioletred">Thank you for registering with tFX Tool, use the login link to contiune</h3>

<li>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Home", "Index", "Home")
    }
    else
    {
        @Html.ActionLink("Login", "Login", "User")
    }
</li>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
