
@{
    ViewBag.Title = "Theory";
}

<li>
    @Html.ActionLink("Go back to tFX Tool Home", "Index", "User")
</li>

<h2>tFX Theorem</h2>
<img src="~/Images/tfxtheory.png" width="80" height="60" /> 
<p style="color:blue">tFX Formula / Theorem is an hybridized computatonal model for predicting the outcome of a FX trade </p>
<br />
<p style="color:blue">It states that the states that the summation of Technical analysis with the addition of buy scenario </p>
<p style="color:blue">scenario or sell scenario with the addition of take profit and stop loss divided by the multiplication </p>
<p style="color:blue">of  fundamental analysis and Automated trading technique. </p>