
@{
    ViewBag.Title = "Theory";
}
<br /><br />
<li>
    @Html.ActionLink("Go back to tFX Tool Home", "Index", "User")
</li>

<h2 align="center" style="color:red">tFX Theorem</h2>
<p align="center"><img src="~/Images/tfxtheory.png"/></p> 
<p style="color:blue" align="center">tFX Formula / Theorem is an hybridized computatonal model for predicting the outcome of a FX trade </p>
<br />
<p style="color:blue" align="center">It states that the states that the summation of Technical analysis with the addition of buy scenario </p>
<p style="color:blue" align="center">scenario or sell scenario with the addition of take profit and stop loss divided by the multiplication </p>
<p style="color:blue" align="center">of  fundamental analysis and Automated trading technique. </p>
<p style="color: blue" align="center">
    Where ; </p>
<p style="color: blue" align="center">  TAtools = Trade analysis tools  ( japneses candle stick, moving average, parabolic SAR, fractals, Relative Strength Index (RSI), Stochastic Oscillator, Arrows) </p>
<p style="color: blue" align="center"> BS|SS = Buy Scenario OR Sell Scenario </p>
<p style="color: blue" align="center">TP&SL = Take Profit & Stop Loss </p>
<p style="color: blue" align="center"> FA = Fundamental Analysis </p>
<p style="color: blue" align="center"> Att = Automated trading technique</p>